body
	background #fff
	margin 0
section
	width 100%
	
header
	width 100%
	padding-top 15px
	padding-bottom 15px
	box-shadow 0 0 10px 2px #ddd
	color #aaa
	text-align center
	z-index 1000
	


.intro-card.mdl-card
	width 500px
	box-shadow 0 0 10px 2px #ddd
	display block
	margin-top 15%
	
	.mdl-card__title
	.mdl-card__supporting
		text-align left
		color #999
		width 90%
		margin 0 auto
		margin-bottom 10px
		
	.mdl-form
		width 90%
		margin 0 auto
		margin-top 30px
		
.mdl-grid
	
	.mdl-cell--8-col
	.mdl-cell--3-col
		background #eee